---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/terms.css';
---

<BaseLayout>
  <section class="legal-section">
    <h1>Politique de cconfidentialité</h1>

    <div class="legal-content">
      <h2>1. Introduction</h2>
      <p>
        Travaux Sisters accorde une grande importance à la confidentialité de vos données personnelles. Cette politique de confidentialité a pour but de vous informer sur la manière dont nous collectons, utilisons, et protégeons vos données lorsque vous visitez notre blog ou interagissez avec nos services.
      </p>

      <h2>2. Données collectées</h2>
      <p>
        Lorsque vous visitez notre blog ou que vous utilisez nos services, nous pouvons collecter les informations suivantes :
      </p>
      <ul>
        <li><strong>Données d’identification</strong> : prénom, nom, adresse e-mail, lorsque vous laissez un commentaire, vous inscrivez à notre newsletter ou nous contactez via le formulaire de contact.</li>
        <li><strong>Données de navigation</strong> : adresse IP, type de navigateur, temps de visite, pages visitées, via l’utilisation de cookies ou autres technologies similaires.</li>
        <li><strong>Commentaires</strong> : lorsque vous laissez un commentaire sur notre blog, nous collectons les informations affichées dans le formulaire de commentaire, ainsi que votre adresse IP et l’agent utilisateur de votre navigateur pour faciliter la détection des spams.</li>
      </ul>

      <h2>3. Utilisation des données</h2>
      <p>
        Les données que nous collectons sont utilisées dans les buts suivants :
      </p>
      <ul>
        <li><strong>Améliorer l’expérience utilisateur</strong> sur notre blog et nos services.</li>
        <li><strong>Gérer les commentaires</strong> laissés sur le blog.</li>
        <li><strong>Envoyer des newsletters</strong> ou des informations commerciales, avec votre consentement préalable.</li>
        <li><strong>Analyser le trafic du site</strong> et le comportement des visiteurs pour améliorer notre contenu et notre visibilité.</li>
      </ul>

      <h2>4. Partage des données</h2>
      <p>
        Vos données personnelles ne sont ni vendues, ni échangées, ni louées à des tiers. Cependant, nous pouvons être amenés à partager vos données avec les prestataires suivants dans le cadre de notre activité :
      </p>
      <ul>
        <li><strong>Prestataires de services techniques</strong> (hébergement, maintenance, etc...).</li>
        <li><strong>Outils de marketing</strong> (pour l’envoi d’emails ou l’analyse du trafic).</li>
      </ul>
      <p>
        Ces prestataires sont tenus de respecter la confidentialité de vos données et de ne pas les utiliser à des fins autres que celles pour lesquelles elles leur sont confiées.
      </p>

      <h2>5. Conservation des données</h2>
      <p>
        Les données personnelles sont conservées uniquement pour la durée nécessaire aux finalités pour lesquelles elles ont été collectées :
      </p>
      <ul>
        <li><strong>Commentaires</strong>  : vos données de commentaires sont conservées aussi longtemps que le commentaire reste en ligne sur le blog.</li>
        <li><strong>Newsletter</strong> : vos données sont conservées jusqu’à ce que vous choisissiez de vous désinscrire.</li>
        <li><strong>Données techniques</strong> : elles sont conservées pour une durée maximale de 3 ans afin d’analyser et d’améliorer notre site.</li>
      </ul>

      <h2>6. Vos droits</h2>
      <p>
        Conformément à la réglementation applicable en matière de protection des données personnelles, vous disposez des droits suivants :
      </p>
      <ul>
        <li><strong>Accès</strong> : vous pouvez demander l’accès aux données personnelles que nous détenons sur vous.</li>
        <li><strong>Rectification</strong> : vous pouvez demander la correction de vos données personnelles si elles sont inexactes ou incomplètes.</li>
        <li><strong>Suppression</strong> : vous pouvez demander la suppression de vos données personnelles dans certains cas .</li>
        <li><strong>Opposition et limitation</strong> : vous avez le droit de vous opposer au traitement de vos données ou d’en limiter l’utilisation, dans certaines circonstances.</li>
      </ul>

      <h2>7. Sécurité des données</h2>
      <p>Travaux Sisters met en place des mesures techniques et organisationnelles appropriées pour assurer la sécurité de vos données personnelles et les protéger contre tout accès non autorisé, divulgation, altération ou destruction.</p>

      <h2>8. Utilisation des cookies</h2>
      <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. Ces cookies sont utilisés pour :</p>
      <ul>
        <li><strong>Analyser l’audience du site.</strong></li>
        <li><strong>Faciliter votre navigation.</strong></li>
        <li><strong>Enregistrer vos préférences.</strong></li>
      </ul>
      <p>Vous avez la possibilité de désactiver les cookies en ajustant les paramètres de votre navigateur. Cependant, cela pourrait affecter certaines fonctionnalités de notre site.</p>

      <h2>9. Modifications de la politique de confidentialité</h2>
      <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page, et nous vous encourageons à la consulter régulièrement.</p>

      <h2>10. Contact</h2>
      <p>Pour toute question relative à cette politique de confidentialité ou pour exercer vos droits, vous pouvez nous contacter à l’adresse suivante : <a href="mailto:florence.jaspart@travauxsisters.fr">florence.jaspart@travauxsisters.fr</a></p>
    </div>
  </section>
</BaseLayout>
