---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>Devenez artisan partenaire</h1>
  <p>
    Travaux Sisters sélectionne des artisans qualifiés pour répondre aux projets de rénovation et de construction de ses clients. 
    Rejoignez notre réseau et bénéficiez de chantiers sur mesure, d’un accompagnement professionnel, et d’opportunités de collaboration à long terme.
  </p>
</BaseLayout>