---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/terms.css';
---

<BaseLayout>
  <section class="legal-section">
    <h1>Mentions légales</h1>

    <div class="legal-content">
      <h2>1. Éditeur du site</h2>
      <p>
        Le présent site internet travauxsisters.fr est édité par :
      </p>
      <ul>
        <li><strong>Nom de l’entreprise :</strong> Travaux Sisters</li>
        <li><strong>Siège social :</strong> EuraTechnologies Blanchemaille – Incubateur, 87 Rue du Fontenoy, 59100 Roubaix</li>
        <li><strong>Numéro de SIRET :</strong> 41001117700043</li>
        <li><strong>Responsable de la publication :</strong> Florence Jaspart</li>
        <li><strong>Contact :</strong> 06.66.06.62.08</li>
      </ul>

      <h2>2. Hébergement du site</h2>
      <p>
        L’hébergement du site est assuré par :
      </p>
      <ul>
        <li><strong>Nom de l’hébergeur :</strong> IONOS SARL</li>
        <li><strong>Adresse :</strong> 7, place de la Gare – BP 70109 – 57201 Sarreguemines</li>
        <li><strong>Contact :</strong> confidentialite@ionos.fr | +33 970 808 911</li>
      </ul>

      <h2>3. Propriété intellectuelle</h2>
      <p>
        Le contenu du site Travaux Sisters, incluant les textes, images, vidéos, et tout autre contenu présent sur le site, est la propriété exclusive de Travaux Sisters ou de ses partenaires.
      </p>
      <p>
        Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ces éléments, même partielle, est strictement interdite sans l’accord exprès de Travaux Sisters.
      </p>

      <h2>4. Protection des données personnelles</h2>
      <p>
        Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée et au RGPD, vous disposez d’un droit d’accès, de rectification, de suppression et d’opposition au traitement de vos données personnelles.
      </p>
      <p>
        Pour exercer ces droits, vous pouvez nous contacter à l’adresse suivante : <a href="mailto:florence.jaspart@travauxsisters.fr">florence.jaspart@travauxsisters.fr</a>.
      </p>
      <p>
        Les données collectées sur ce site sont utilisées uniquement à des fins de gestion des demandes, envoi de newsletters. Elles ne sont en aucun cas cédées ou revendues à des tiers.
      </p>

      <h2>5. Commentaires et modération</h2>
      <p>
        Les utilisateurs de ce site peuvent publier des commentaires dans la section blog. Ces commentaires sont modérés avant publication. Travaux Sisters se réserve le droit de supprimer tout commentaire qui ne respecterait pas les lois en vigueur (incitation à la haine, diffamation, spam, etc.).
      </p>

      <h2>6. Cookies</h2>
      <p>
        Le site Travaux Sisters utilise des cookies pour améliorer l’expérience utilisateur. Les cookies sont de petits fichiers texte enregistrés sur votre appareil lorsque vous naviguez sur notre site. Vous pouvez configurer votre navigateur pour refuser ces cookies, mais cela peut altérer certaines fonctionnalités du site.
      </p>

      <h2>7. Limitation de responsabilité</h2>
      <p>Les informations diffusées sur le site Travaux sisters sont fournies à titre indicatif. Travaux Sisters ne saurait garantir l’exactitude, la complétude ou l’actualité des informations publiées. La responsabilité de Travaux Sisters ne pourra être engagée pour tout dommage direct ou indirect résultant de l’utilisation du site.</p>

      <h2>8. Droit applicable</h2>
      <p>Le présent site est régi par le droit français. En cas de litige, et à défaut de résolution amiable, les tribunaux français seront seuls compétents.</p>
    </div>
  </section>
</BaseLayout>
