.project-wrapper {
  background-color: #f3f3f3;
  width: 100%;
  padding: 2rem 0;
}

.project-section {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
}

.project-container {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.project-image img {
  max-width: 500px;
  border-radius: 0.5rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.project-content h2 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1rem;
}

.project-content .intro-text {
  font-size: 0.9rem;
  color: #333;
  display: block;
  margin-bottom: 1.5rem;
}

.icon-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icon-list span {
  font-size: 0.9rem;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.icon-list .icon {
  color: #d0137a;
  margin-right: 0.5rem;
}

.strong-messages {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #333;
}

.strong-messages strong {
  display: block;
  font-size: 1.1rem;
  color: inherit;
}

.strong-messages .highlight {
  color: #d0137a;
}

.btn-primary {
  background-color: #d0137a;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  width: auto;
  border-radius: 1.5rem 0 1.5rem 0;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

/* ------ MOBILE ------ */
@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    gap: 2rem;
  }

  .project-image img {
    max-width: 100%;
  }

  .project-content {
    align-items: center;
    text-align: center;
    padding: 0 1rem;
  }

  .project-content h2 {
    font-size: 1.4rem;
    max-width: 90%;
    margin: 0 auto 2rem auto;
  }

  .project-content .intro-text {
    font-size: 0.85rem;
    max-width: 90%;
    margin: 0 auto 2rem auto;
  }

  .icon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .icon-list li {
    margin-bottom: 1rem;
  }

  .strong-messages {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .btn-primary {
    align-self: center;
    margin-top: 0.5rem;
  }
}
