.hero-section {
  padding: 6rem 2rem;
  text-align: center;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(91, 52, 96, 0.5),
    rgba(145, 61, 78, 0.5)
  );
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  max-width: 700px;
  line-height: 1.2;
  margin: 0 auto 1rem auto;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

/* Bouton pour les particuliers */
.hero-btn-primary {
  padding: 0.75rem 1.5rem;
  background-color: #d0137a;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 30px 0 30px 0;
  transition: background-color 0.3s ease;
}

/* Bouton pour les artisans */
.hero-btn-secondary {
  padding: 0.75rem 1.5rem;
  background-color: #fff;
  color: #d0137a;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid #d0137a;
  border-radius: 0 30px 0 30px;
  transition: background-color 0.3s ease;
}

/* ------ MOBILE ------ */
@media (max-width: 768px) {
  .hero-section {
    padding: 4rem 1.5rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-btn-primary,
  .hero-btn-secondary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
