.project-wrapper {
  background-color: #f3f3f3;
  width: 100%;
  padding: 2rem 0;
}

.project-section {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
}

.project-container {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.project-image img {
  max-width: 500px;
  border-radius: 0.5rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.project-content h2 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1rem;
}

.project-content .intro-text {
  font-size: 0.9rem;
  color: #333;
  display: block;
  margin-bottom: 1.5rem;
}

.icon-list {
  list-style-type: none; /* Retire les puces par défaut */
  padding: 0;
  margin: 0;
}

.icon-list span {
  font-size: 0.9rem;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.icon-list .icon {
  color: #ff1493;
  margin-right: 0.5rem;
}

.strong-messages {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #333;
}

.strong-messages strong {
  display: block;
  font-size: 1.1rem;
  color: inherit;
}

.strong-messages .highlight {
  color: #ff1493;
}

.btn-primary {
  background-color: #ff1493;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  width: auto;
  border-radius: 1.5rem 0 1.5rem 0;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

/* ------ MOBILE ------ */
@media (max-width: 768px) {
  .project-container {
    flex-direction: column; /* Aligner verticalement les éléments sur mobile */
    gap: 2rem; /* Ajuster l'espacement entre les éléments */
  }

  .project-image img {
    max-width: 100%; /* S'assurer que l'image prend toute la largeur du conteneur */
  }

  .project-content {
    align-items: center; /* Centrer le contenu sur mobile */
    text-align: center; /* Centrer le texte pour une meilleure lisibilité */
    padding: 0 1rem;
  }

  .project-content h2 {
    font-size: 1.4rem; /* Ajuste la taille du titre pour mobile */
    max-width: 90%; /* Réduit la largeur maximale sur mobile */
    margin: 0 auto 2rem auto; /* Centre le titre */
  }

  .project-content .intro-text {
    font-size: 0.85rem; /* Ajuste la taille du texte pour mobile */
    max-width: 90%; /* Réduit la largeur maximale sur mobile */
    margin: 0 auto 2rem auto; /* Centre le paragraphe */
  }

  .icon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .icon-list li {
    margin-bottom: 1rem; /* Plus d'espace entre les éléments de la liste */
  }

  .strong-messages {
    margin-top: 2rem; /* Plus d'espace au-dessus des messages forts */
    margin-bottom: 3rem; /* Plus d'espace en dessous des messages forts */
  }

  .btn-primary {
    align-self: center; /* Centrer le bouton sur mobile */
    margin-top: 0.5rem;
  }
}
