.promise-section {
  padding: 2rem;
  text-align: center;
}

.promise-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.promise-cards {
  display: flex;
  justify-content: center; /* Distribution égale des cartes */
  align-items: flex-start; /* Alignement vertical des cartes */
  gap: 1rem; /* Espacement entre les cartes */
  flex-wrap: nowrap; /* Empêche les cartes de passer à la ligne suivante */
}

.card {
  background-color: white;
  border-radius: 0;
  box-shadow: none;
  padding: 1rem; /* Réduction du padding */
  max-width: 200px; /* Réduction de la largeur maximale */
  text-align: center;
}

.card-icon {
  width: 70px; /* Réduction de la largeur */
  height: 70px; /* Réduction de la hauteur */
  margin-bottom: 0.5rem; /* Réduction de l'espacement sous l'icône */
}

.card-title {
  font-size: 1.1rem;
  color: #ff1493;
  margin-bottom: 0.5rem;
  font-weight: 600; /* Ajuste la graisse de la police (300 = léger, 400 = normal, 500 = moyen) */
}

.card-text {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5; /* Ajuste cette valeur selon l'effet désiré (1.4 à 1.6 est recommandé) */
}
