.promise-section {
  padding: 2rem;
  text-align: center;
}

.promise-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.promise-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: nowrap;
}

.card {
  background-color: white;
  border-radius: 0;
  box-shadow: none;
  padding: 1rem;
  max-width: 200px;
  text-align: center;
}

.card-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1.1rem;
  color: #d0137a;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
}

/* ------ MOBILE ------ */
@media (max-width: 768px) {
  .promise-cards {
    flex-direction: column; /* Aligner les cartes verticalement sur mobile */
    gap: 1.5rem; /* Ajouter un peu plus d'espace entre les cartes */
    align-items: center; /* Centrer les cartes dans leur conteneur */
  }

  .card {
    max-width: 90%; /* Augmenter la largeur maximale pour mieux remplir l'espace sur mobile */
  }
}
