.testimonial-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-size: contain;
}

.testimonial-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  gap: 1rem;
}

.testimonial-left,
.testimonial-right {
  flex: 1;
  max-width: 45%;
}

.testimonial-left {
  padding-right: 2rem;
}

.testimonial-left h2 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.testimonial-left p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.testimonial-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-box {
  padding: 2rem;
  border: 2px solid #bbb;
  border-radius: 0.75rem;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/TravauxSisters_WebSite/images/quote-message.png") no-repeat top left;
  background-size: 140px;
  position: relative;
  max-width: 350px;
}

.author-name {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.review-date {
  display: block;
  font-size: 1rem;
  color: #666666;
  margin-bottom: 1rem;
}

.review-rating {
  font-size: 1rem;
  color: #ffcc00;
  margin-bottom: 1rem;
}

.testimonial-box p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.5;
}

/* ------ MOBILE ------ */
@media (max-width: 768px) {
  .testimonial-section {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .testimonial-content {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .testimonial-left,
  .testimonial-right {
    max-width: 100%;
    padding-right: 0;
  }

  .testimonial-left {
    margin-top: 2.5rem;
    text-align: center;
  }

  .testimonial-left h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .testimonial-left p {
    font-size: 1rem;
    color: #222;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  .testimonial-box {
    max-width: 90%;
  }

  .btn-primary {
    margin-top: 1.5rem;
  }
}
